.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    justify-content: center;
    align-items: center;
}